---
Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  llvm-*
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file
CheckOptions:
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '0'

